<!-- templates/dashboard.html -->
{% extends 'base.html' %} 

{% block title %}Admin Dashboard{% endblock %}

{% block page_heading %}
    Admin Dashboard
    <div class="float-right">
        <span class="mr-3">Welcome, {{ session['username'] }}</span>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome to the Admin Dashboard!</h2>
            </div>
        </div>
        <div class="row mt-4">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar sidebar-sticky">
                <div class="sidebar-sticky">
                    <!-- Left navigation panel -->
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#alertsModal">Alerts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('display_reg') }}">Check Registers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('display_report') }}">Report Check</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('render_log') }}">Checksum Anomoly</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('log_check') }}">Recent network Traffic Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Settings</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        System Status
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            CPU Temperature: {{ cpu_temp }}&deg;C <br>
                            RAM Usage: {{ ram_usage }}% <br>
                            System Load: {{ system_load }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
